/*서브탭메뉴*/
.tabwrap {
    display: none;
    width: 1200px;
    height: 50px;
    /* padding-top: 60px; */
    margin: 60px auto 0;
    z-index: 7;
    position: relative;
}
.tabwrap ul {
    width: 100%;
    margin: 0 auto;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    border: 1px solid #d2d2d2;
    margin-top: -1px;
}

.tabwrap>ul>li {
    width: 50%;
    display: block;
    font-size: 14px;
    line-height: 46px;
    transform: rotate(-0.03deg);

}

.tw50 li{ width: 50% !important;}
.tw33 li{ width: 33.3333% !important;}
.tw25 li{ width: 25% !important;}
.tw20 li{ width: 20% !important;}
.tw16 li{ width: 16.66666666666667% !important;}
.tw14 li{ width: 14.28% !important;}

.tabwrap ul a {
    display: block;
    background: #ffffff;
    color: #000000;
    font-weight: 600;
    border-right: 1px solid #d2d2d2;
    border-left: 1px solid #d2d2d2;
    width: 100%;
    height: 100%;
    letter-spacing: -0.5px;
    
}
.tabwrap ul li:first-child a {
    border-left: none;
}
.tabwrap.tt_tabwrap{
    margin: 30px auto 0;
}
.tttab{
    width: 100%;
}
.tttab li{
    flex: 1;
    background: #eaeaea;
}

/* .tabwrap a:hover {
    color: #ffffff !important;
    font-weight: 600 !important;
    z-index: 11111;
    background: #bd542e!important;
} */

.tabwrap > ul > li a.tab_on {
    background: #002c4d !important;
    color: #ffffff !important;
    font-weight: 600 !important;
    z-index: 7;
}
.tabwrap ul.tttab > li a.intab_on{
    display: block;
    color: #353535 !important;
    background: #eaeaea !important;
}